@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background: white;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 25px 10%;
  transition: all 0.5s ease;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar a {
  font-size: medium;
  font-weight: 350;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s ease;
  color: #4f5665;
}
.navbar a:hover {
  color: #f53838;
  font-weight: 500;
}
.navbar a.active {
  color: #f53838;
  font-weight: 500;
}

.sign {
  display: flex;
  align-items: center;
}
.sign a {
  color: black;
  transition: all 0.5s ease;
  font-weight: 500;
  font-size: medium;
  margin-right: 20px;
}
.sign a:hover {
  color: #f53838;
}
.sign button {
  cursor: pointer;
  border-radius: 50px;
  color: #f53838;
  background-color: white;
  border: 1px solid #f53838;
  padding: 10px 45px;
  font-weight: 500;
  font-size: medium;
  transition: all 0.5s ease;
}
.sign button:hover {
  background-color: #f53838;
  color: white;
}

#menu-icon {
  font-size: 35px;
  color: black;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18% 7% 10%;
  flex-direction: column;
}
.content .content-1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 12% 0px 8%;
}
.content .content-1 img {
  width: 75%;
  height: auto;
}
.content .content-1 .content-1-detail .text-content-1 {
  margin: 12% 7% 8%;
  font-family: "Rubik", sans-serif;
}
.content .content-1 .content-1-detail .text-content-1 h3 {
  color: #0b132a;
  font-size: 28px;
  font-weight: 450;
}
.content .content-1 .content-1-detail .text-content-1 p {
  color: #4f5665;
  line-height: 1.7;
  font-weight: 350;
  font-size: 16px;
}
.content .content-1 .content-1-detail .button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .content-1 .content-1-detail .button-group .create-acc {
  display: none;
}
.content .content-1 .content-1-detail .button-group .button-secondary button.secondary {
  margin-bottom: 14%;
}
.content .content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 12%;
  margin-bottom: 9%;
  text-align: center;
}
.content .content-2 .content-2-detail {
  justify-content: center;
}
.content .content-2 .content-2-detail h3 {
  color: black;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 42px;
  margin: 3% 0px;
}
.content .content-2 .content-2-detail p {
  color: #4f5665;
  line-height: 1.7;
  font-weight: 350;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}
.content .content-2 .content-2-detail button {
  cursor: pointer;
  margin: 8% 0px;
  background-color: transparent;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.content .content-2 .content-2-detail button i {
  font-size: 24px;
  margin-right: 10px;
}
.content .content-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content .content-3 .text-content-3 {
  text-align: center;
  margin-top: 5%;
  font-family: "DM Sans", sans-serif;
}
.content .content-3 .text-content-3 h3 {
  color: black;
  font-weight: 600;
  font-size: 42px;
  margin: 3% 0px;
}
.content .content-3 .text-content-3 h5 {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 550;
  margin: 6% 0px;
}
.content .content-3 .text-content-3 button.start-saving {
  margin: 5% 0px 10%;
}
.content .content-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .content-4 img {
  width: 80%;
  margin: 14% 0px;
}
.content .content-4 .content-4-detail {
  align-self: flex-start;
  margin: 8% 0px;
  font-family: "DM Sans", sans-serif;
}
.content .content-4 .content-4-detail .tags p {
  color: #f53838;
  font-size: 20px;
  font-weight: 450;
  background-color: #fee9e9;
  padding: 6px 40px;
  border-radius: 30px;
  width: -moz-fit-content;
  width: fit-content;
}
.content .content-4 .content-4-detail h2 {
  margin: 10% 0px;
  color: #080047;
  font-size: 34px;
  font-weight: 450;
  line-height: 1.3;
}
.content .content-4 .content-4-detail p {
  margin: 2% 0px;
  color: black;
  font-weight: 450;
  line-height: 1.8;
  font-size: 14px;
}
.content .content-4 .content-4-detail button.text {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #f53838;
  background-color: transparent;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 12% 0px;
}
.content .content-4 .content-4-detail button.text i {
  font-size: 24px;
  margin-right: 10px;
}
.content .content-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .content-6 img.testimoni {
  width: 100%;
  height: auto;
  margin: 10%;
}
.content .content-6 .content-6-detail .text-content-6 {
  font-family: "DM Sans", sans-serif;
}
.content .content-6 .content-6-detail .text-content-6 h2 {
  font-size: 30px;
  font-weight: 500;
}
.content .content-6 .content-6-detail .text-content-6 p {
  margin: 8% 0px 12%;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 450;
}
.content .content-6 .content-6-detail .button-content-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .content-6 .content-6-detail .button-content-6 button.get-started {
  margin-top: 0px;
}
.content .content-6 .content-6-detail .button-content-6 button.start-saving {
  display: none;
}
.content .logo {
  margin: 10% 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.content .logo .iconify {
  width: 100px;
  height: auto;
  margin: 4% 2%;
}
.content .logo .iconify[data-icon="ri:amazon-fill"] {
  height: 60px;
  width: auto;
}
.content .card {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 30px 50px 30px 22px;
  font-family: "DM Sans", sans-serif;
  color: #080047;
  margin: 5% 0px 13%;
  width: 100%;
  height: 320px;
  justify-content: space-between;
}
.content .card .card-detail i.card-icon {
  font-size: 28px;
  background-color: #2469b2;
  padding: 6px;
  border-radius: 10px 10px 10px 0px;
  color: white;
}
.content .card .card-detail h2 {
  margin: 10% 0px 8%;
  font-size: 24px;
  font-weight: 450;
}
.content .card .card-detail p {
  font-size: 14px;
  font-weight: 450;
  line-height: 1.7;
}
.content .card .feature {
  display: flex;
  align-items: center;
}
.content .card .feature i.arrow {
  font-size: 14px;
  background-color: #2469b2;
  padding: 3px;
  color: white;
  border-radius: 50%;
  margin-right: 5%;
}
.content .card .feature h4 {
  font-weight: 450;
  font-size: 18px;
}
.content button.primary {
  width: 250px;
  height: 60px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 5% 5%;
  background-color: #f53838;
  color: white;
  border-radius: 8px;
  border-color: transparent;
  box-shadow: 0px 16px 43px -15px rgba(245, 56, 56, 0.75);
  margin: 10% 0px;
  cursor: pointer;
}
.content button.primary:hover {
  background-color: #c42d2d;
}
.content button.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
  padding: 3% 12%;
  font-family: "Rubik", sans-serif;
  font-weight: 450;
  font-size: medium;
  width: 250px;
  border-width: 1px;
  margin: 4% 0px;
}
.content button.secondary img {
  width: 24px;
  margin-right: 8px;
  order: -1;
}
.content button.secondary i {
  font-size: 24px;
  margin-right: 10px;
}

.content-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 7% 10%;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
}
.content-5 .card-content-5 {
  background-color: #2469b2;
  color: white;
  padding: 12% 10%;
}
.content-5 .card-content-5 .card-content-5-detail h2 {
  font-size: 30px;
  font-weight: 450;
  line-height: 1.3;
}
.content-5 .card-content-5 .card-content-5-detail p {
  margin: 12% 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}
.content-5 .card-content-5 .feature {
  margin-top: 5%;
  display: flex;
  align-items: center;
}
.content-5 .card-content-5 .feature i.arrow {
  font-size: 14px;
  background-color: white;
  padding: 3px;
  color: #2469b2;
  border-radius: 50%;
  margin-right: 3%;
}
.content-5 .card-content-5 .feature h4 {
  font-weight: 450;
  font-size: 18px;
}
.content-5 img {
  width: 100%;
  height: auto;
}

.footer {
  background-color: #f8f8f8;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
}
.footer .quick-menu {
  padding: 3% 5%;
}
.footer .quick-menu .menu {
  margin: 12% 0px;
  display: flex;
  flex-direction: column;
}
.footer .quick-menu .menu h4 {
  margin-bottom: 5%;
  font-size: 18px;
  font-weight: 450;
}
.footer .quick-menu .menu a {
  margin: 3% 0px;
  font-size: 16px;
  font-weight: 350;
  color: #4f5665;
}
.footer .comprof {
  padding: 3% 5%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.footer .comprof p {
  margin: 8% 0px;
  color: #4f5665;
  line-height: 2;
  font-weight: 350;
}
.footer .comprof p strong {
  font-weight: 500;
}
.footer .comprof .socmed {
  flex-direction: row;
  margin: 2% 0px 8%;
}
.footer .comprof .socmed a {
  padding: 2%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-flex;
  box-shadow: 0px 8px 15px -2px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  margin-right: 3%;
}
.footer .comprof .socmed a i {
  color: #f53838;
}
.footer .comprof .credit {
  margin: 3% 0px 10%;
  font-weight: 300;
  font-size: 16px;
  color: #afb5c0;
}

@media (max-width: 1280px) {
  header {
    padding: 14px 10%;
    transition: 0.2s;
  }
  .navbar a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}
@media (max-width: 1090px) {
  header {
    padding: 2% 4%;
  }
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 200px;
    background-color: #f53838;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
    height: auto;
    padding: 10px 0px;
  }
  .navbar a {
    display: block;
    margin: 10px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
    color: white;
  }
  .navbar a:hover {
    color: white;
    transform: translateY(5px);
  }
  .navbar a.active {
    color: white;
  }
  .navbar.open {
    right: 5%;
  }
  .navbar::after {
    content: "";
    display: block;
    clear: both;
  }
  .sign {
    flex-direction: column;
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .content {
    margin: 4% 7% 0px;
  }
  .content .content-1 {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    margin: 10% 3%;
  }
  .content .content-1 img {
    order: 2;
    width: 100%;
    height: auto;
  }
  .content .content-1 .content-1-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .content .content-1 .content-1-detail .text-content-1 {
    margin: 0px 0px;
    font-family: "Rubik", sans-serif;
  }
  .content .content-1 .content-1-detail .text-content-1 h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 64px;
    font-weight: 600;
  }
  .content .content-1 .content-1-detail .text-content-1 p {
    line-height: 1.3;
    font-size: 18px;
  }
  .content .content-1 .content-1-detail .button-group {
    align-items: flex-start;
  }
  .content .content-1 .content-1-detail .button-group .create-acc {
    display: block;
  }
  .content .content-1 .content-1-detail .button-group .get-started {
    display: none;
  }
  .content .content-1 .content-1-detail .button-group button.primary {
    margin: 6% 0px;
    padding: 0px 0px;
  }
  .content .content-1 .content-1-detail .button-group .button-secondary {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
  }
  .content .content-1 .content-1-detail .button-group .button-secondary button.secondary {
    margin-right: 70px;
    margin-bottom: 0px;
    padding: 2% 2%;
    width: 200px;
  }
  .content .content-2 {
    margin: 4% 12%;
    align-items: flex-start;
    flex-direction: row;
  }
  .content .content-2 img {
    width: 30%;
    height: auto;
  }
  .content .content-2 .content-2-detail {
    margin: 0px 3%;
    flex-direction: column;
    text-align: left;
  }
  .content .content-2 .content-2-detail h3 {
    font-size: 48px;
    margin: 1% 0px;
  }
  .content .content-2 .content-2-detail p {
    color: #ababac;
    font-style: "DM Sans", sans-serif;
    font-weight: 450;
  }
  .content .content-2 .content-2-detail button {
    margin: 2% 0px;
  }
  .content .content-3 {
    flex-direction: row;
    align-items: flex-start;
    margin: 0px 3%;
  }
  .content .content-3 .text-content-3 {
    margin-top: 0px;
    text-align: left;
  }
  .content .content-3 .text-content-3 h3 {
    font-size: 48px;
    font-weight: 450;
  }
  .content .content-3 .text-content-3 h5 {
    font-weight: 450;
  }
  .content .content-3 .text-content-3 button.start-saving {
    display: none;
  }
  .content .content-3 .card-content-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
  }
  .content .content-4 {
    flex-direction: row;
    margin: 4% 3%;
    align-items: center;
    justify-content: space-between;
  }
  .content .content-4 img {
    width: 100%;
    height: auto;
    max-height: 682px;
    margin: 0px 0px;
  }
  .content .content-4 .content-4-detail {
    margin: 3% 0px 0px 6%;
  }
  .content .content-4 .content-4-detail .tags p {
    font-size: 24px;
    padding: 1% 8%;
  }
  .content .content-4 .content-4-detail h2 {
    margin: 7% 0px 0px;
    font-size: 48px;
  }
  .content .content-4 .content-4-detail p {
    padding-right: 8%;
    font-size: 18px;
    line-height: 1.3;
  }
  .content .content-4 .content-4-detail p br {
    display: none;
  }
  .content .content-4 .content-4-detail button.text {
    margin: 8% 0px;
  }
  .content .card {
    width: 90%;
    padding: 5% 4% 8% 7%;
    margin: 0px 0px 15%;
    justify-self: end;
  }
  .content .card .card-detail h2 {
    margin: 9% 0px 5%;
  }
  .content .card .card-detail p {
    padding-right: 4%;
  }
  .content .card .feature i.arrow {
    font-size: 16px;
  }
  .content .content-6 {
    display: flex;
    flex-direction: row;
    margin: 0px 3%;
  }
  .content .content-6 img.testimoni {
    width: 90%;
    margin: 0px;
    margin-right: 10%;
  }
  .content .content-6 .content-6-detail .text-content-6 h2 {
    font-size: 48px;
  }
  .content .content-6 .content-6-detail .text-content-6 p {
    font-size: 18px;
    line-height: 1.6;
    margin: 2% 0px;
    padding-right: 20%;
  }
  .content .content-6 .content-6-detail .button-content-6 {
    align-items: flex-start;
  }
  .content .content-6 .content-6-detail .button-content-6 button.start-saving {
    margin: 3% 0px;
    height: 60px;
    width: auto;
    padding: 0px 50px;
    display: block;
  }
  .content .content-6 .content-6-detail .button-content-6 button.get-started {
    display: none;
  }
  .content .content-6 .content-6-detail .button-content-6 .button-secondary {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .content .content-6 .content-6-detail .button-content-6 .button-secondary button.secondary {
    width: 193px;
    padding: 2%;
    margin-right: 12%;
  }
  .content .logo {
    display: flex;
    margin: 8% 0px 3%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .content .logo .iconify {
    width: 250px;
    height: auto;
    margin: 0px 8% 2% 0px;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
  }
  .content .logo .iconify:hover {
    filter: none;
  }
  .content .logo .iconify[data-icon="ri:amazon-fill"] {
    width: 110px;
    height: auto;
  }
  .content .logo .iconify[data-icon="logos:spotify"] {
    margin-right: 0px;
  }
  .content-5 {
    margin: 5% 0px;
    display: flex;
    flex-direction: row;
  }
  .content-5 .card-content-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 504px;
    width: auto;
    padding: 3% 8% 5% 4%;
  }
  .content-5 .card-content-5 .card-content-5-detail h2 {
    padding-right: 24%;
    font-size: 48px;
  }
  .content-5 .card-content-5 .card-content-5-detail p {
    margin: 8% 0px;
    line-height: 2.3;
    padding-right: 37%;
  }
  .content-5 .card-content-5 .feature i.arrow {
    font-size: 18px;
  }
  .content-5 img {
    height: 504px;
    width: auto;
  }
  .footer {
    padding: 3% 10% 8%;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .quick-menu {
    width: 50%;
    padding: 3% 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25%;
    order: 1;
  }
  .footer .quick-menu .menu {
    width: 150%;
  }
  .footer .quick-menu .menu h4 {
    margin-bottom: 12%;
  }
  .footer .quick-menu .menu a {
    margin: 6% 0px;
  }
  .footer .comprof {
    order: 0;
    padding: 3% 0px;
    max-width: 340px;
  }
  .footer .comprof p {
    margin: 3% 0px;
  }
  .footer .comprof .socmed a {
    padding: 1%;
  }
  .footer .comprof .socmed a i {
    font-size: 120%;
  }
}/*# sourceMappingURL=index.css.map */